<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Multiple-Choice Trainer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <img class="ion-text-center ion-padding" src="assets/placerholder.jpeg" style="height: fit-content" >

  <ion-grid class="Button">
    <ion-button expand="block" type="submit" class="ion-margin-top" (click)="openLoginComponent()">Anmelden</ion-button>
    <ion-button expand="block" type="submit" class="ion-margin-top" (click)="openRegisterComponent()">Registieren</ion-button>
  </ion-grid>
</ion-content>
