<ion-header>
  <ion-toolbar>
    <ion-title>
      Angefangene Module
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for (module of savedModules; let i = $index; track savedModules) {
        <ion-col size="6">
        <ion-card button>
          <ion-card-content class="ion-text-center">
            {{ module.category }}
          </ion-card-content>
        </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
