<ion-header>
  <ion-toolbar>
    <ion-title>Statistik</ion-title>
    <ion-buttons slot="end">
      <ion-button class="share-button" (click)="shareALL()">
        <ion-icon id="share" name="share-social-outline"></ion-icon>
      </ion-button>
      @if (isLoggedIn) {
        <ion-button class="ion-color" slot="end" (click)="logout()">
          <ion-icon name="log-out-outline" style="color: #CEDBEB"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>

  <ion-list>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Statistik deiner {{ anzModule }} Module</h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Abgeschlossene Karten: {{ counter6 }} </h2>
    </ion-text>

    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      @if(abgeschlosseneModule.length>0){
        <h2> Abgeschlossene Module: {{ abgeschlosseneModule }} </h2>

      }



    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2>Fortschritt: {{fortschrittProzent}}%</h2>
    </ion-text>

    <ion-card>
      <canvas id="myCanvas0"></canvas>
    </ion-card>



    <!--
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 0 mal geschafft: {{ counter0 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 1 mal geschafft: {{ counter1 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 2 mal geschafft: {{ counter2 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 3 mal geschafft: {{ counter3 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 4 mal geschafft: {{ counter4 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten 5 mal geschafft: {{ counter5 }} </h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Karten abgeschlossen: {{ counter6 }} </h2>
    </ion-text>
    <ion-text>
      <h2>hi</h2>
    </ion-text>
    -->
  </ion-list>
</ion-content>

<!--
  @for(mod of chartsName; track anzModule; let ibl = $index){
    <canvas id="myCanvas{{ibl}}"></canvas>
    <h2>{{ibl}}</h2>
  }
-->
    <!-- Füge weitere Canvas-Elemente entsprechend der Anzahl der Sessions hinzu -->



    <!--
    @for(element of manyChartsName;let i = $index; track element){
      <ion-item>{{ manyChartsName[i] }}</ion-item>
    }
    @for(element of manyCharts;let i = $index; track element){
      <div class="chart-container">
        <canvas  #chartCanvas id="chartCanvas{{ i }}">{{ manyCharts[i] }}</canvas>
      </div>
    }
-->








<ion-footer>
  <app-footer>
  </app-footer>
</ion-footer>
