<ion-header>
  <ion-toolbar>
    <ion-title>Statistik</ion-title>
    <ion-buttons slot="end">
      <ion-button class="share-button" (click)="shareALL()">
        <ion-icon id="share" name="share-social-outline"></ion-icon>
      </ion-button>
      @if (isLoggedIn) {
        <ion-button class="ion-color" slot="end" (click)="logout()">
          <ion-icon name="log-out-outline" style="color: #CEDBEB"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>

  <ion-list>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Statistik deiner {{ anzModule }} Module</h2>
    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2 >Abgeschlossene Karten: {{ counter6 }} </h2>
    </ion-text>

    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      @if(abgeschlosseneModule.length>0){
        <h2> Abgeschlossene Module: {{ abgeschlosseneModule }} </h2>

      }


    </ion-text>
    <ion-text class="ion-margin-vertical ion-text-center ion-align-self-center">
      <h2>Fortschritt: {{fortschrittProzent}}%</h2>
    </ion-text>

    <ion-card>
      <canvas id="myCanvas0"></canvas>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <app-footer>
  </app-footer>
</ion-footer>
