<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        clearInput
        required>
      </ion-input>

    </ion-item>

    @if (registerForm.submitted && !email) {
      <ion-note color="danger">
        Email is required.
      </ion-note>
    }
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
        maxlength="15"
        minlength="6"
        clearInput
        [counter]="true">
      </ion-input>
    </ion-item>

    @if (registerForm.submitted && password.length < passwordMinLength){
      <ion-note color="danger">
        Password must be 6 characters long!
      </ion-note>
    }

    @if (registerForm.submitted && !password) {
      <ion-note color="danger">
        Password is required.
      </ion-note>
    }

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        #name
        [(ngModel)]="additionalData.name"
        name="name"
        required
        maxlength="30"
        minlength="2"
        clearInput
        [counter]="true">
      </ion-input>
    </ion-item>

    @if (errors.get('name')) {
      <ion-text color="danger">
        <p class="ion-text-end ion-no-margin ion-padding-end">
          {{errors.get('name')}}
        </p>
      </ion-text>
    }

    @if (registerForm.submitted && !additionalData.name) {
      <ion-note color="danger">
        Username is required.
      </ion-note>
    }

    <ion-button expand="full" type="submit">Register</ion-button>
  </form>
  @if (errorMessage) {
    {{errorMessage}}
  }
</ion-content>
