.achieved {
  background-color: #e0ffe0; /* green for achieved achievements */
}

.not-achieved {
  background-color: #f0f0f0; /*  grey for not achieved achievements */
  opacity: 0.6; /* Make it look faded */
}

img {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
