<ion-content>
  @if (achievements && achievements.length > 0) {
    <ion-list>
      @for (achievement of achievements; track achievements) {
        <ion-item class="achieved">
          <ion-label>{{ achievement.name }}</ion-label>
          <p>{{ achievement.description }}</p>
        </ion-item>
      }
    </ion-list>
  }


  @if (notAchieved && notAchieved.length > 0) {
    <ion-list>
      <ion-col size="1" >
        <img src="../../assets/icon/favicon.png" height="20" width="20"/>
      </ion-col>
      @for (achievement of notAchieved; track notAchieved) {
        <ion-item class="not-achieved">
          <ion-label>{{ achievement.name }}</ion-label>
          <p>{{ achievement.description }}</p>
        </ion-item>
      }
    </ion-list>
  }
  @if (!notAchieved || notAchieved.length === 0) {
    <div>
      No achievements to display.
    </div>
  }
</ion-content>
