ion-title{
  background-color:   #5A7699;
  color: white;
}

ion-back-button{
  color: #CEDBEB;

}

.forgot, .login, .Reg{
  color: #2D496B;
}

ion-button{
  color: black;
  --background: #CEDBEB;
}



