<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title  slot="start">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-item>
      <ion-label  position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        clearInput
        required>
      </ion-input>
    </ion-item>
    @if (loginForm.submitted && !email) {
      <ion-note color="danger">
        Email is required.
      </ion-note>
    }
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        clearInput
        required>
      </ion-input>
    </ion-item>

    @if (loginForm.submitted && !password) {
      <ion-note color="danger">
        Password is required.
      </ion-note>
    }
    <ion-button  expand="block" type="submit"  class="ion-margin-top">Login</ion-button>
    <ion-button  expand="block" type="button" (click)="openForgotPassword()" class="ion-margin-top">Forgot Password?</ion-button>

  </form>
</ion-content>
