<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Multiple-Choice Trainer</ion-title>
    @if (isLoggedIn) {
      <ion-button class="ion-color" slot="end" (click)="logout()">
        <ion-icon name="log-out-outline" style="color: #CEDBEB"></ion-icon>
      </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="navigateToCardDetail()" class="global_blue">
          <ion-card-content class="ion-text-center">
            <ion-icon class="global_shine_blue" name="add-circle-sharp"></ion-icon>
            <ion-card-subtitle>Modul Hinzufügen</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

      @for (module of userModules; track userModules) {
        <ion-col size="6">
          <ion-card button (click)="navSession(module.category)"
                    [ngStyle]="{'background-color': getCategoryBackground(module.category)}">
            <ion-card-header class="ion-text-center">
              <ion-card-title>{{ module.category }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      }

      @for (category of categories; track categories; ) {
        <ion-col size="6">
          <ion-card button (click)="navSession(category)"
                    [ngStyle]="{'background-color': getCategoryBackground(category)}">
            <ion-card-header class="ion-text-center">
              <ion-card-title id="categoryTitle">{{ category }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-icon [name]="getCategoryIcon(category)" style="color: #f6f7f9"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

</ion-content>

<app-footer></app-footer>

