<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Multiple-Choice Trainer</ion-title>
    @if (isLoggedIn) {
      <ion-button class="ion-color" slot="end" (click)="logout()">
        <ion-icon name="log-out-outline" style="color: #f6f7f9"></ion-icon>
      </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>home works</p>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    @if (!isLoggedIn) {
      <ion-fab-button>
        <ion-fab-button (click)="openLoginForm()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-button>
    }
  </ion-fab>




</ion-content>

