:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
  --ion-color-tertiary: #7044ff;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f04141;
  --ion-color-dark: #222428;
  --ion-color-medium: #989aa2;
  --ion-color-light: #f4f5f8;

  /* Fügen Sie hier weitere benutzerdefinierte Farben hinzu */
  --ion-color-info: #45aaf2;
}

ion-icon {
  font-size: 22px;
  color: #CEDBEB;
}

ion-card{
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button-container.show-buttons {
  opacity: 1;
}


.categoryTitle{
  color: white;
  font-size: medium;
}

ion-card.active {
  box-shadow: var(--ion-color-warning) 0px 4px 16px;
}

ion-toolbar{
  --background: #5A7699;
  color: white;

}

ion-card-subtitle{
  color: white;

}

.search-button{
  order: 1;
}

.share-button{
  order: 2;
}

.logout-button{
  order: 3;
}


.card{
    display: block;
    width: 100%;
  align-items: stretch;
  height: 10em;
  flex-direction: column;
  justify-content: center;
  background: black;
  }

.item{
  flex: 1;
  width: 14em;
  height: 10em;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

}

ion-item{
  display: block;
  width: 100%;
  align-items: stretch;
  height: 8em;
  flex-direction: column;
  justify-content: center;
}










