ion-fab {
  z-index: 1000; /* Setzt den z-index höher als der Footer */
  position: fixed; /* Fixiert den FAB auf dem Bildschirm */
  bottom: 70px; /* Abstand vom unteren Rand des Bildschirms */
  right: 10px; /* Abstand vom rechten Rand des Bildschirms */
}
