ion-button{
  --background: #CEDBEB;
}
.answer-item {
  display: flex;
  align-items: center;
}

.k2 {
  margin-bottom: 50px;
}

ion-toolbar{
  --background: #5A7699;
  color: white;
}

ion-back-button{
  --color:  #CEDBEB;
}

#weiter, #save{
  color: black;
}

ion-icon{
  color: black;
}
