<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Neues Modul erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Category Input Form -->
  @if (!categoryAdded) {
  <div>
    <form (ngSubmit)="addCategory()">
      <ion-item>
        <ion-label position="floating">Kategorie</ion-label>
        <ion-input [(ngModel)]="category" name="category" required maxlength="30" [counter]="true">
        <ion-button (click)="clearCategory()" slot="end" type="button">
          <ion-icon slot="icon-only" name="close">
          </ion-icon>
        </ion-button>
        </ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Kategorie hinzufügen</ion-button>
    </form>
  </div>
  }
  @if (categoryAdded) {
    <form (ngSubmit)="saveModule()">
      <!-- Category Input -->
      <ion-item>
        <ion-label position="floating">Kategorie</ion-label>
        <ion-input [(ngModel)]="category" name="category" readonly required maxlength="50" [counter]="true">
        </ion-input>
      </ion-item>


      <!-- Question Input -->
      <ion-item>
        <ion-label position="floating">Frage</ion-label>
        <ion-input [(ngModel)]="currentQuestion.question" name="question" required maxlength="50" [counter]="true">
          <ion-button (click)="clearQuestion()" slot="end" type="button">
            <ion-icon slot="icon-only" name="close">
            </ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>


      <!-- Answer Inputs -->
      @for (answer of currentQuestion.answers; track trackByIndex; let i = $index) {
        <ion-item>
          <ion-label position="floating">Antwort {{ i + 1 }}</ion-label>
          <ion-input [(ngModel)]="currentQuestion.answers[i]" name="answer{{ i }}" required maxlength="50" [counter]="true">
            <ion-button (click)="clearAnswer(i)" slot="end" type="button">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
      }

      <!-- Add Answer Button -->
      @if (currentQuestion.answers.length < 6) {
        <ion-button (click)="addAnswerField()" type="button">
          <ion-icon name="add-circle-sharp"></ion-icon>
          Antwort hinzufügen
        </ion-button>
      }

      <!-- Control Buttons -->
      <ion-button expand="block" type="submit" (click)="save()">Weiter</ion-button>
      <ion-button expand="block" color="danger" (click)="alertCancel()">Speichern und beenden</ion-button>

    </form>
  }
</ion-content>
