<ion-footer >
  <ion-toolbar >
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-buttons>
          <ion-button (click)="navToHome()">
            <ion-col size="auto" class="ion-text-center icon-col">
              <ion-icon name="home-sharp"  style="color: #CEDBEB"></ion-icon>
            </ion-col>
          </ion-button>
          <ion-button (click)="navToStatistik()">
            <ion-col size="auto" class="ion-text-center icon-col">
              <ion-icon name="stats-chart-sharp" style="color: #CEDBEB"></ion-icon>
            </ion-col>
          </ion-button>
          <ion-button (click)="navToCards()">
            <ion-col size="auto" class="ion-text-center icon-col">
              <ion-icon name="book-sharp"  style="color: #CEDBEB"></ion-icon>
            </ion-col>
          </ion-button>
          <ion-button (click)="navToAchivements()">
            <ion-col size="auto" class="ion-text-center icon-col">
              <ion-icon name="trophy-sharp"  style="color: #CEDBEB"></ion-icon>
            </ion-col>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<app-footer></app-footer>
